body {
  margin: 0;
  font-family: "Abril Fatface", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#results-modal {
  opacity: 0;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 35%;
  width: 100%;
  height: 20%;
  overflow: auto;
  text-align: center;
  background-color: red;
  font-size: -webkit-xxx-large;
}

#results-text {
  position: relative;
  top: 25%;
  padding: 0;
  margin: 0;
}
